<section class="section section--tabs section--multi">

  <header class="section__header">
    <h1 class="section__title">Shipments</h1>

    <nav class="section__nav">
      <ul class="section__tab tab">
        <li class="tab-item">
          <%= link "All Shipments", to: Routes.shipment_overview_path(@conn, :index) %>
        </li>
        <li class="tab-item active">
          <%= link "My Shipments", to: Routes.group_shipment_path(@conn, :index, @current_group) %>
        </li>
      </ul>
    </nav>
  </header>

  <div class="section__content">
    <h2 class="col-9 col-ml-auto">Add A New Shipment</h2>
    <%= render "form.html", Map.merge(assigns, %{
      action: Routes.group_shipment_path(@conn, :create, @group),
      new_shipment?: true
    }) %>
  </div>

</section>
