<section class="section section--tabs">

  <header class="section__header">
    <h1 class="section__title">The Map</h1>
    <!-- TODO: signup prompt -->
  </header>

  <div class="section__content">
    <%= form_for @changeset, Routes.map_path(@conn, :show), [method: :get, class: "form-horizontal"], fn f -> %>
      <%= if @changeset.action do %>
        <div class="toast toast-error">
          <p>Oops, something went wrong! Please check the errors below.</p>
        </div>
      <% end %>

      <div class="form-group <%= validation_status_class(f, :group_filter) %>">
        <%= label f, :group_filter, "Groups" %>
        <%= multiple_select f, :group_filter, @map.group_filter_labels, multiple: true, class: "form-select select2--map" %>
      </div>

      <div class="form-group col-9 col-ml-auto">
        <%= submit "Submit", class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="section__content section__content--thin">
    <div id="map" class="map"></div>
  </div>

</section>

<script>
  var map = new L.map('map');
  map.scrollWheelZoom.disable();

  // create the tile layer with correct attribution
  var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib='Map data &copy; <a href="https://www.openstreetmap.org" target="blank">OpenStreetMap</a> contributors, <a href="https://openstreetmap.org/copyright" target="blank">CC-BY-SA</a>';
  var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});

  // draw the map
  map.setView(new L.LatLng(48, 13), 4.0);
  map.addLayer(osm);

  // add markers to the map
  var addresses = <%= format_addresses_for_map(@map.results) %>;
  addresses.forEach(function(address) {
    var icon = L.icon({
      iconUrl: address.marker_img,
      className: "map-icon--logo"
    });

    var marker = L.marker([address.lat, address.lng], {
      icon: icon
    })
      .bindPopup(address.marker_content)
      .addTo(map);
  });
</script>
