<section class="section section--tabs section--multi">
  <header class="section__header">
    <h1 class="section__title">Admin - Aid</h1>

    <nav class="section__nav">
      <ul class="section__tab tab">
        <li class="tab-item active">
          <%= link "Categories & Items", to: Routes.aid_item_path(@conn, :index) %>
        </li>
        <li class="tab-item">
          <%= link "Mods", to: Routes.aid_mod_path(@conn, :index) %>
        </li>
      </ul>
    </nav>
  </header>

  <div class="section__content">
    <h2 class="col-9 col-ml-auto">Add A New Category</h2>
    <%= render "form.partial.html", Map.put(assigns, :action, Routes.aid_category_path(@conn, :create)) %>
  </div>

</section>
