<section class="section section--tabs">

  <header class="section__header">
    <h1 class="section__title">Groups</h1>

    <nav class="section__nav">
      <ul class="section__tab tab">
        <li class="tab-item active">
          <%= link "All Groups", to: Routes.group_path(@conn, :index) %>
        </li>
        <%= if @current_group != nil do %>
          <li class="tab-item">
            <%= link "My Group", to: Routes.group_path(@conn, :show, @current_group.id) %>
          </li>
          <!-- TODO: else sign up prompt? -->
        <% end %>
      </ul>
    </nav>
    <%= if is_nil(@current_group) do %>
      <%= link to: Routes.user_path(@conn, :new), class: "btn btn-primary tooltip tooltip-left section__action", data: [tooltip: "Sign up for an account to add your group's profile!"] do %>
        <i class="fas fa-lg fa-plus-circle is-icon-left"></i> Add Your Group
      <% end %>
    <% end %>
  </header>

  <div class="section__content">
    <table id="group-index" class="table table-striped">

      <thead>
        <tr>
          <th><!-- Actions --></th>
          <th> Group </th>
        </tr>
      </thead>

      <tbody>
        <%= if has_groups? @groups do %>
          <%= for group <- @groups do %>
            <tr>
              <td>
                <%= component "action.partial.html", %{
                  action: :view,
                  authorized?: true,
                  route: Routes.group_path(@conn, :show, group)
                } %>
              </td>
              <td>
                <%= link to: Routes.group_path(@conn, :show, group), class: "link--unstyled" do %>
                  <%= component "group_logo.partial.html", %{
                    conn: @conn,
                    group: group,
                    size: :lg,
                    fill: true
                  } %>
                  <div class="group-details">
                    <%= group.name %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>

        <% else %>
          <p>
            No groups have been created... yet!
          </p>
        <% end %>
      </tbody>

    </table>
  </div>

</section>
