<section class="section section--tabs section--multi">
  <header class="section__header">
    <h1 class="section__title">Account</h1>
    <nav class="section__nav">
      <ul class="section__tab tab">
        <li class="tab-item active">
          <%= link "Login", to: Routes.session_path(@conn, :new) %>
        </li>
        <li class="tab-item">
          <%= link "Signup", to: Routes.user_path(@conn, :new) %>
        </li>
      </ul>
    </nav>
  </header>

  <div class="section__content">
    <h2 class="col-9 col-ml-auto">Login</h2>
    <%= render "form.html", Map.put(assigns, :action, Routes.session_path(@conn, :create)) %>
  </div>

</section>
